.Login {
  width: 100%;
  height: 100vh;
  background-color: #fd9869;
  background-image: url(https://img.freepik.com/premium-photo/astronaut-outer-open-space-planet-earth-stars-provide-background-erforming-space-planet-earth-sunrise-sunset-our-home-iss-elements-this-image-furnished-by-nasa_150455-16829.jpg?w=2000);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Login__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login__form {
  width: 800px;
  min-width: 300px;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .25);  
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}